* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

.wrapper1, .wrapper2 {
  margin: 0 auto;
  max-width: 460px;
}

.slider_first {
  border-radius: 15px;
  font-size: 30px;
  font-weight: 700;
  position: relative;
  margin: 10% auto;
  width: 450px;
  height: 250px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
}
.slider_first .slider_second__track {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  overflow-x: scroll;
  gap: 2px;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-transform: translateX(0px);
          transform: translateX(0px);
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

.slider_second {
  border-radius: 15px;
  font-size: 30px;
  font-weight: 700;
  position: relative;
  margin: 10% auto;
  width: 450px;
  height: 250px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
}
.slider_second .slider_second__track {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  overflow-x: scroll;
  gap: 2px;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-transform: translateX(0px);
          transform: translateX(0px);
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

.slider_first__slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 450px;
  height: 250px;
  background-color: green;
  -o-object-fit: contain;
     object-fit: contain;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.slider_second__slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 450px;
  height: 250px;
  background-color: green;
  -o-object-fit: contain;
     object-fit: contain;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.slider_second__btn {
  position: absolute;
  top: 43%;
  z-index: 99999;
  font-size: 30px;
  cursor: pointer;
  border: black solid 2px;
  padding: 2.5px;
}

.slider_second__btn_next {
  right: 0;
}

.slider_second__block_points {
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 200px;
}
.slider_second__block_points .slider_second__point {
  margin: 0 auto;
  width: 20px;
  height: 20px;
  background-color: black;
  border-radius: 100%;
  margin-bottom: 100px;
}